#java {
  display: none;
}

.jpic {
  height: 250px;
  width: 350px;
}

#Csp{
  display: none;
}

.csp {
  height: 250px;
  width: 350px;
}

#ruby {
  display: none;
}

.ruby {
  height: 250px;
  width: 350px;
}

h1 {
  text-align: center;
}
